@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    height: auto;
}

main,
header {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/* shared style */
.yellow {
    color: #FF5400;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
    cursor: pointer;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    line-height: 30px;
}

/* navbar section start here   */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.nav-text {
    display: flex;
}

.nav-text img {
    margin-right: 20px;
}

.brand-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding-left: 20px;

}

ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* navbar section end here   */
/* Hero section start here   */

.hero-section {
    height: 31rem;
    background-image: url('../images/banner.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-input {
    margin-top: 40px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur;
    border-radius: 8px;
}

.hero-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 40rem;
}

.hero-input input,
.hero-input select {
    width: 10rem;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.hero-input input::placeholder,
select {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.fa-solid {
    display: none;
}

/*Hero section end here   */

/* popular tour section start here   */

.popular-tour {
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.popular-tour-image {
    max-width: 540px;
    max-height: 550px;
}

.section-li {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.section-li>li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* popular tour section end here   */
/*destination section start here   */

.section-destination {
    margin-top: 100px;
    text-align: center;
}

.section-destination img {
    width: 100%;
    height: 270px;
    border-radius: 16px;
    filter: brightness(70%);
}

.section-destination p {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.section-destination-first-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.section-destination-second-row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.4fr;
    gap: 20px;
}

.section-destination-third-row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    gap: 20px;
}

.country-card {
    position: relative;
}

.country-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*destination section end here   */
/*why chose us section start here   */
.choose-us-section {
    margin-top: 100px;
}

.text-center {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.section-subtitle {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-us-card-area-1 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-card-1 {
    padding: 30px 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}

.section-card-2 {
    padding: 30px 20px;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
}

.section-card-3 {
    margin-top: 20px;
    width: 50%;
    padding: 30px 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}

/*why chose us section end here   */
/* Deals discount start here */
.deals-discount {
    margin-top: 50px;
}

.section-content-1 {
    margin-top: 50px;
    background-image: url('../images/discount1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 27rem;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
}

.section-content-2 {
    margin-top: 50px;
    background-image: url('../images/discount2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 27rem;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
}

.section-card {
    margin: 50px;
    padding: 20px;
    max-width: 50%;
    height: 340px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.card-title {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.title-color {
    color: #FF5400;
    margin: 0 5px;
}

.price-section {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

/* Deals discount start here */
/* get lost end here */
.get-lost-section {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-lost-section-text>button {
    margin-top: 30px;
    margin-bottom: 0;
}

.get-lost-image {
    border-radius: 16px;
    position: relative;

}

.subtitle-design {
    position: absolute;
    left: 30%;
    top: 45%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    width: 45%;
}

/* get lost end here */
.news-letter {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.news-letter-image {
    width: 58%;
    height: 370px;
}

.news-letter-input {
    width: 38%;
    height: 370px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}
.news-letter-image{
    position: relative;
}
.news-letter-image img {
    width: 100%;
    height: 370px;
}

.news-letter-input input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    border: none;

}
.btn{
    width: 100%;
}
.news-letter-input::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.news-letter-discount {
    width: 50%;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    position: absolute;
    top: 54%;
    left: 47%;
    padding-top: 20px;   
}

.news-letter-title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.news-letter-travel {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* News letter end here */

/* footer start here */
.footer{
    max-width: 1440px;
    height: 400px;
    margin-top: 70px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.fa-brands{
    padding: 10px;
}
.hr{
    width: 80%;
}

/* footer end here */
/* responsive for mobile */
@media screen and (max-width: 576px) {

    .news-letter,
    .get-lost-section,
    .popular-tour,
    .choose-us-card-area-1 {
        flex-direction: column;
    }

    .nav-menu {
        display: none;
    }

    .hero-section {
        width: 100%;
    }

    nav>i {
        font-size: 2rem;
        ;
    }

    .brand-title {
        font-size: 2rem;
    }

    .hero-title {
        font-size: 1.8rem;
    }

    .hero-description {
        font-size: 0.8rem;
        width: 18rem;
    }

    .btn-primary,
    .hero-input input,
    .hero-input select {
        margin-bottom: 20px;
        width: 100%;

    }

    .hero-input {
        margin: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fa-solid {
        display: block;
    }

    .popular-tour-image {
        max-width: 310px;
        max-height: 320px;
    }

    .popular-tour-image img {
        max-width: 100%;
        max-height: auto;
    }

    .section-destination-first-row,
    .section-destination-second-row,
    .section-destination-third-row {
        display: grid;
        grid-template-columns: 1fr;


    }

    .section-card-3 {
        width: 100%;
    }

    .section-content-1,
    .section-content-2 {
        justify-content: center;
    }

    .section-card {
        max-width: 90%;
        height: auto;
    }

    .card-title {
        font-size: 12px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .section-description {
        font-size: 12px;
        margin: 5px;
    }

    .get-lost-image {
        width: 400px;
    }

    .get-lost-img {
        margin: 30px auto;
        max-width: 100%;
    }

    .news-letter-image {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .news-letter-input {
        width: 100%;
        height: auto;
    }

    .btn {
        width: 17rem;
    }
    .news-letter-discount {
        width: 80%;
        top: 54%;
        left: 15%;
   
    }
}